# Parsing PDFs Homework

With the power of pdfminer, pytesseract, Camelot, and Tika, let's analyze some documents!

> If at any point you think, **"I'm close enough, I'd just edit the rest of it in Excel"**: that's fine! Just make a note of it.

## A trick to use again and again

### Approach 1

Before we get started: when you want to take the first row of your data and set it as the header, use this trick.

In [1]:
import pandas as pd
df = pd.DataFrame([
    [ 'fruit name', 'likes' ],
    [ 'apple', 15 ],
    [ 'carrot', 3 ],
    [ 'sweet potato', 45 ],
    [ 'peach', 12 ],
])
df

              0      1
0    fruit name  likes
1         apple     15
2        carrot      3
3  sweet potato     45
4         peach     12

In [2]:
# Set the first column as the columns
df.columns = df.loc[0]

# Drop the first row
df = df.drop(0)

df

0    fruit name likes
1         apple    15
2        carrot     3
3  sweet potato    45
4         peach    12

ðŸš€ Done!

### Approach 2

Another alternative is to use `.rename` on your columns and just filter out the columns you aren't interested in. This can be useful if the column name shows up multiple times in your data for some reason or another.

In [3]:
# Starting with the same-ish data...
df = pd.DataFrame([
    [ 'fruit name', 'likes' ],
    [ 'apple', 15 ],
    [ 'carrot', 3 ],
    [ 'fruit name', 'likes' ],
    [ 'sweet potato', 45 ],
    [ 'peach', 12 ],
])
df

              0      1
0    fruit name  likes
1         apple     15
2        carrot      3
3    fruit name  likes
4  sweet potato     45
5         peach     12

In [4]:
df = df.rename(columns={
    0: 'fruit name',
    1: 'likes'
})
df = df[df['fruit name'] != 'fruit name']
df

     fruit name likes
1         apple    15
2        carrot     3
4  sweet potato    45
5         peach    12

ðŸš€ Done!

### Useful tips about coordinates

If you want to grab only a section of the page [Kull](https://jsoma.github.io/kull/#/) might be helpful in finding the coordinates.

> **Alternatively** run `%matplotlib notebook` in a cell. Afterwards, every time you use something like `camelot.plot(tables[0]).show()` it will get you nice zoomable, hoverable versions that include `x` and `y` coordinates as you move your mouse.

Coordinates are given as `"left_x,top_y,right_x,bottom_y"` with `(0,0)` being in the bottom left-hand corner.

Note that all coordinates are strings, for some reason. It won't be `[1, 2, 3, 4]` it will be `['1,2,3,4']`

# The homework

This is **mostly Camelot work**, because I don't really have any good image-based PDFs to stretch your wings on tesseract. If you know of any, let me know and I can put together another couple exercises.

## Prison Inmates

Working from [InmateList.pdf](InmateList.pdf), save a CSV file that includes every inmate.

* Make sure your rows are *all data*, and you don't have any people named "Inmate Name."

In [5]:
import tika
from tika import parser

In [6]:
inmates = parser.from_file('InmateList.pdf')
inmates_df = pd.DataFrame(columns=inmates['content'].strip().split('\n')[0].split(' '))
inmates_df = inmates_df.drop(columns=['#','Name','Date'])
inmates_df = inmates_df.rename(columns={'ICN': 'ICN #', 'Inmate': 'Inmate Name', 'Booking': 'Booking Date'})
inmates_df

Empty DataFrame
Columns: [ICN #, Inmate Name, Facility, Booking Date]
Index: []

In [7]:
inmates_ls = inmates['content'].strip()[87:].split('\n\n')

In [8]:
inmates_ls

['70693 ABDALLAH, MICHAEL ECHC 04/30/2021',
 '152645 ABDI, ABDI ECCF 06/20/2021',
 '144666 ABDULLAH, DHAFIR ECCF 06/17/2021',
 '156374 ACEVEDO, CARLOS ECHC 06/06/2021',
 '57243 ACKER, RAYMOND P ECCF 11/02/2020',
 '68579 ADAMS, JERMAIN C ECHC 09/19/2019',
 '45262 ADAMS, MARQUIS ECHC 05/27/2021',
 '75738 AKRIGHT, JOSEPH A ECCF 05/29/2021',
 '104048 ALBERTSON, ANDREW ECCF 12/04/2019',
 '1577 ALEXANDER, BRIAN ECHC 07/13/2021',
 '148951 ALICEA, PABLO E ECCF 05/19/2020',
 '139806 ALKULIFI, ABDULLAH ECHC 07/01/2021',
 '124661 ALLEN, DARNELLE ECCF 12/03/2020',
 '125234 ALLEN, DEMONDE C ECHC 05/03/2021',
 '131437 ALLEN, GLENN A ECCF 06/12/2021',
 '144648 ALLEN, KASSEEN F ECHC 06/29/2021',
 '155564 ALLEN, TIFFANY M ECHC 04/12/2021',
 '94012 AMAN, JOSHUA D ECHC 06/27/2021',
 '60170 ANDREWS, NICOLE J ECHC 04/24/2021',
 '1550 ARCARA, SHAWN ECCF 01/20/2021',
 '69158 ARCHER, MARTELL ECHC 07/01/2021',
 '84791 AULS, RAYMOND ECHC 06/03/2021',
 '124759 AUSTIN, RASHAWN G ECHC 01/28/2021',
 '150703 AYALA, MIKEL D ECCF 05/17/2021',
 '90957 BAEZ, OSCAR J ECHC 06/22/2021',
 '144717 BAILEY, JARELD D ECHC 03/18/2021',
 '152772 BAKER, BRYCE J ECCF 12/04/2020',
 '156189 BALD, EDWARD M ECHC 02/27/2021',
 '45844 BARBER, CORELLIS C ECCF 06/02/2021',
 '11444 BARBER, KEVIN ECCF 02/26/2020',
 '99417 BARCLAY, BRANDON ECCF 09/24/2020',
 '121931 BARCLAY, CHEMERE ECHC 04/29/2021',
 '156058 BARKER, JOHN ECHC 11/27/2020',
 '6400 BARKER, LLOYD ECHC 09/30/2020',
 '60960 BARNES, BYRON K ECCF 03/13/2021',
 '143728 BARNES, DONNELL A ECHC 06/30/2021',
 '156210 BARNWELL, GAIL ECHC 03/12/2021',
 '139480 BARNWELL, RICHARD ECCF 10/07/2020',
 '99034 BARROWMAN, GLENN R ECHC 07/08/2021',
 '110974 BASSETT, BRYAM ECHC 05/08/2019',
 '140981 BASTEDO, ROBARE ECCF 02/15/2021',
 '141722 BATES, MOULIK D ECHC 03/16/2021',
 '156050 BATES, TONY M ECHC 04/01/2021',
 'Page 1 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '156309 BAUCOM, KEVIN ECCF 05/06/2021',
 '74636 BAUGHMAN, WILLIAM ECCF 07/22/2019',
 '66136 BEASLEY, DARREN ECCF 10/29/2020',
 '115968 BEASLEY, TONEY ECHC 05/13/2020',
 '155588 BELL, BLAIR J ECHC 12/20/2019',
 '122803 BELZ, HOLLIE ECHC 07/13/2021',
 '122463 BENEFIELD, ANDRE J ECHC 05/11/2021',
 '125216 BENTON, DAJHON ECHC 06/24/2021',
 '81737 BERGERON, WILLIAM ECHC 04/15/2021',
 '92073 BERNAS, JOHN ECHC 06/05/2021',
 '60806 BIASELLI, RANDY ECCF 12/09/2020',
 '105651 BICKLEY, BRYAN A ECCF 02/28/2021',
 '137970 BILLINGSLEY, COLIN ECCF 01/01/2021',
 '14336 BISH, JOHN A ECHC 10/11/2017',
 '93221 BITNER, GARY E ECHC 07/06/2021',
 '83789 BLACK, PARIS L ECCF 06/07/2021',
 '155335 BLAKIE, PAUL E ECHC 06/24/2021',
 '56334 BLANKENSHIP, IRAMICK ECCF 08/31/2020',
 '156076 BLASIO, NICHOLAS A ECHC 06/07/2021',
 '72416 BLINSTON, JOHN ECCF 04/01/2021',
 '116185 BLUMAN, ZACHARY ECCF 01/05/2021',
 '100290 BONA, PAUL A ECCF 01/10/2021',
 '153670 BOROWICZ, RICHARD F ECHC 07/12/2021',
 '156015 BOWDEN, RICHARD ECHC 03/25/2021',
 '149289 BOXHORN, TYLER ECCF 06/08/2021',
 '137835 BRAGGS, DARMETRIUS L ECCF 02/05/2021',
 '127926 BRANCH, DARRIN M ECCF 12/11/2020',
 '144442 BRANCH, REGINALD M ECCF 02/05/2021',
 '91224 BREDT, FRANK ECHC 04/30/2018',
 '148965 BRENNAN, LUKE P ECCF 11/29/2020',
 '156038 BREWER, ALEXANDER J ECHC 11/13/2020',
 '135471 BROADBENT, BRANDON R ECHC 05/01/2021',
 '75261 BROOKS, CALVIN H ECCF 12/23/2020',
 '93351 BROOKS, SEVILLE S ECHC 05/16/2021',
 '80506 BROWN, ANDRELLO M ECCF 04/17/2020',
 '156426 BROWN, ANDREW J ECHC 07/11/2021',
 '144625 BROWN, COREY ECHC 06/29/2021',
 '103042 BROWN, DARRELL ECCF 05/27/2021',
 '146303 BROWN, ISAIAH ECCF 05/02/2021',
 '141089 BROWN, TIFFANY ECHC 07/13/2021',
 '71503 BRUDECKI, ERIC ECHC 07/08/2021',
 '136255 BRUKS, YURIY ECCF 10/13/2019',
 '73522 BRUTCHER, KEVIN ECHC 06/24/2021',
 'Page 2 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '56713 BRYANT, CLARENCE ECCF 01/15/2020',
 '114176 BUCHANAN, JESSE J ECCF 01/07/2021',
 '5197 BURDETT, VAUGHN T ECCF 05/27/2021',
 '83991 BURDIC, JACOB ECHC 06/17/2021',
 '155913 BURKS, AARON D ECCF 08/20/2020',
 '97471 BURKS, JAMES A ECHC 03/10/2021',
 '156223 BURTCH, FAITH ECHC 03/19/2021',
 '123658 BUSH, JED ECHC 05/31/2021',
 '38962 BYERS, ROBERT N ECCF 08/30/2020',
 '84675 BYNUM, CASH L ECHC 04/28/2021',
 '33228 CAESAR, STEFFON A ECCF 05/13/2021',
 '99103 CAMPBELL, GEORGE ECHC 04/24/2021',
 '103041 CANASKI, THEODORE J ECCF 12/02/2020',
 '144165 CAPPS, GIJUAN ECHC 06/13/2021',
 '77854 CARR, DAMONE T ECHC 05/11/2021',
 '92705 CARRION, ANGEL L ECCF 02/12/2021',
 '136159 CARSON, NAHDIA ECHC 05/10/2021',
 '153776 CASADO, SHANE ECCF 03/15/2019',
 '155514 CASTELLANOS, TAQUILO ECHC 05/18/2021',
 '100145 CEFALY, NICHOLAS ECCF 12/03/2020',
 '66772 CHERNOGOREC, ANDRE ECCF 05/14/2021',
 '155736 CHERRY, CARLOS D ECHC 03/04/2020',
 '134812 CHERRY, ROBERT ECCF 06/09/2021',
 '149356 CHINN, ANTONE L ECCF 04/17/2021',
 '109880 CHRISTIAN, MARKEE ECHC 07/04/2021',
 '156163 CICCARELLI, ANTHONY ECCF 02/10/2021',
 '144581 CLARK, BYRON T ECCF 12/14/2020',
 '84402 CLARKE, TION ECCF 01/13/2021',
 '134869 CLAY, ELIJAH ECCF 09/08/2020',
 '32566 CLEMONS, CALVIN ECHC 07/13/2021',
 '135720 CLEVELAND, DARNELL R ECCF 02/05/2021',
 '135342 CLINE, MARCIS B ECHC 06/26/2021',
 '156398 CLOUTIER, WILLIAM J ECHC 06/24/2021',
 '1600 COBLE, JAMES ECHC 05/05/2021',
 '21384 CODICK, PAUL ECHC 07/10/2021',
 '5987 COLBERT, RAYMOND ECHC 07/10/2021',
 '108726 COLELLA, STEVEN ECCF 05/31/2019',
 '148370 COLEMAN, KENNEDY D ECCF 06/06/2021',
 '153412 COLEMAN, LESLIE ECCF 03/21/2021',
 '746 COLLINS, LARRY ECHC 07/06/2021',
 '65839 COLON, ANTONIEL I ECCF 11/12/2020',
 '83109 COLON, JESUS M ECHC 07/01/2021',
 '131189 COLON, JOHN ECHC 01/10/2020',
 'Page 3 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '102535 COLON-PEREZ, OSVALDO ECHC 06/24/2021',
 '149728 COLSTON, DAEQUANN A ECCF 06/02/2021',
 '90588 COMINS, AMBER ECHC 03/12/2021',
 '132138 COMPTON, CHRISTOPHER A ECCF 04/28/2021',
 '155565 CONNOR, NYJUAN E ECCF 05/27/2021',
 '156411 CONRAD, JUSTIN J ECHC 07/01/2021',
 '93403 COOK, DONALD F ECCF 12/01/2019',
 '65626 COOLEY, CHRISTOPHER ECHC 06/11/2021',
 '34232 COOLEY, STEVEN ECCF 10/06/2019',
 '138474 COOPER, DESEAN ECCF 05/26/2020',
 '102903 CORBI, ANTHONY M ECHC 06/22/2021',
 '156239 CORDERO, JAVIER E ECHC 03/27/2021',
 '156399 CORKINS, LEONARD ECHC 06/25/2021',
 '50536 CORP, EJAY ECHC 06/11/2021',
 '135503 CORTEZ, FREDDIE ECHC 03/12/2021',
 '1341 COSTELLO, IVAN R ECHC 03/18/2021',
 '67347 COTTOM, DAVON ECHC 02/06/2020',
 '93210 CRANFORD, JERMAINE ECCF 04/30/2021',
 '109288 CRESPO, MIGUEL A ECCF 05/27/2021',
 '155751 CRESPO-GARCIA, JOSE L ECCF 03/11/2020',
 '152000 CROSBY, DEMETRIUS ECCF 08/31/2020',
 '144351 CRULE, SHIQUEL ECHC 06/15/2021',
 '137566 CRUZ, ALBERTO F ECCF 04/25/2021',
 '154637 CRUZ, JOSEAN ECHC 04/01/2020',
 '132571 CRUZ-FIGUEROA, STEVEN ECHC 04/28/2020',
 '729 CULPEPPER, JOHN H ECHC 05/05/2021',
 '154483 CWIKLINSKI, MICHAEL A ECCF 12/01/2020',
 '246 DANIELS, ANTHONY ECCF 08/16/2020',
 '140974 DANIELS, SEBRUN ECCF 04/28/2021',
 '156238 DASCOMB, MICHAEL ECHC 03/26/2021',
 '2448 DAVIS, ANTHONY S ECHC 11/26/2020',
 '86562 DAVIS, ANTOWAN M ECHC 11/20/2020',
 '144764 DAVIS, RAYQUELLE W ECCF 12/21/2019',
 '145826 DEAN, AVONNCE E ECHC 07/03/2021',
 '139967 DEGARMO, NEHEMIAH W ECCF 03/31/2021',
 '118749 DEJESUS, ANGEL ECHC 05/21/2021',
 '145373 DEJESUS, NATANEAL S ECCF 06/13/2021',
 '155476 DEJESUS, RACHAD ECCF 05/04/2021',
 '137290 DEJESUS-RODRIGUEZ, ELVIN D ECHC 07/02/2021',
 '139909 DELVALLE, AUSTIN ECCF 05/24/2021',
 '155768 DELZER, KEVIN P ECHC 06/22/2021',
 '156018 DENNIS, TYSHAWN D ECCF 10/29/2020',
 '46992 DIAZ, JUAN C ECCF 05/06/2019',
 'Page 4 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '152248 DIAZ-OLMEDA, YADIEL A ECHC 07/10/2021',
 '141458 DICKSON, LEVON ECHC 06/25/2021',
 '145950 DIGIACOMO, MARIO ECCF 06/16/2021',
 '107564 DIXON, CHAR D ECHC 07/12/2021',
 '142139 DOCKSTADER, SAMIER ECCF 05/12/2021',
 '155995 DONALDSON, DASHAWN ECCF 12/04/2020',
 '72349 DORAN, SCOTT ECCF 04/05/2021',
 '145001 DRAYTON, DEMETRIUS ECHC 03/13/2021',
 '133709 DUAH, KWAME ECHC 07/07/2021',
 '92736 DUCATO, JUSTIN ECHC 06/30/2021',
 '126588 DUKES, DAZIER ECHC 06/26/2021',
 '59995 DUMAS, ANDREW B ECHC 01/04/2021',
 '146876 DUMAS, ROBERT L ECCF 09/17/2020',
 '106993 DUNSTON, KABIR M ECHC 06/21/2021',
 '156142 DZIEDZIC, NATHAN ECCF 01/29/2021',
 '102046 EATMON, TIMOTHY D ECCF 08/24/2020',
 '146379 ECHEVARRIA, ORLANDO ECHC 06/04/2020',
 '144572 EDGERTON, DEMARIO B ECHC 12/15/2020',
 '154413 EDSON, DENNIS A ECHC 04/19/2021',
 '62885 EDWARDS, DOMINIC D ECHC 03/23/2021',
 '143715 EDWARDS, KAYLEN D ECCF 01/30/2021',
 '83542 EGLETON, ANTONIO A ECHC 06/29/2021',
 '114987 EICH, JENALYN ECHC 06/15/2021',
 '69234 EISENBERGER, THOMAS J ECHC 05/31/2021',
 '110957 ELDER, LEONARD ECHC 11/04/2020',
 '95977 ELLIOTT, MARCUS ECHC 06/02/2021',
 '91695 ELLISON, SHAUN ECHC 07/11/2021',
 '153561 ENGLES, JESSIE ECHC 11/12/2020',
 '143907 EUSHER, AUSTIN J ECCF 12/13/2020',
 '135424 EVANS, TYSHEIM ECCF 06/07/2021',
 '85488 EVERETT, ARTHUR ECCF 12/05/2019',
 '140722 EYOTO, ARIEL M ECHC 05/24/2021',
 '125444 FAVORS, LEROY ECHC 03/25/2021',
 '154091 FAYSON, ELIJAH M ECHC 01/10/2021',
 '148922 FELIX, JOSE ECHC 04/19/2021',
 '155648 FIEGL, GRANT A ECHC 01/17/2020',
 '99683 FIELD, NATHAN D ECCF 03/21/2021',
 '105810 FITZGERALD, KEENON S ECHC 03/30/2021',
 '106678 FLITT, DANIEL S ECHC 07/10/2021',
 '116079 FREEMAN, LEON ECHC 03/16/2021',
 '129577 FRONTOTO, JAYME I ECHC 04/02/2021',
 '72371 FULLER, SHAWN ECCF 04/12/2021',
 '150577 GAI, GAY JOHN Y ECCF 09/29/2020',
 'Page 5 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '61711 GAITER, JEVON ECCF 09/25/2019',
 '108437 GAMBLE, ROBERT ECCF 06/06/2021',
 '145329 GANDOLFO, GIOVANNI T ECCF 04/04/2021',
 '58220 GANNON, MATTHEW ECHC 06/25/2021',
 '119553 GARCIA, KEITH ECCF 04/30/2021',
 '96227 GARNER, BRANDON W ECHC 02/02/2020',
 '101894 GAUTHIER, EDWARD ECHC 04/03/2021',
 '153222 GERLAND, RUBY J ECHC 06/16/2021',
 '148900 GERWITZ, MATTHEW R ECCF 05/26/2020',
 '104034 GETMAN, TYLER ECCF 08/26/2020',
 '97446 GHANI, ISSA J ECHC 07/01/2021',
 '129653 GILBERT, IVAN L ECHC 11/24/2020',
 '140529 GOFF, DANIEL P ECHC 05/24/2021',
 '152727 GOLDEN, TONY ECHC 01/15/2020',
 '98550 GOLDSMITH, JEFFREY B ECHC 02/10/2021',
 '148537 GONZALEZ, LUIS E ECCF 08/13/2020',
 '156376 GONZALEZ, SANTOS ECHC 06/07/2021',
 '156250 GOODWIN, DANIEL ECCF 04/05/2021',
 '144497 GORDON, RAEKWON M ECCF 05/20/2021',
 '73551 GOREE, ANTHONY D ECHC 05/12/2021',
 '155773 GOZDZIAK, DWAINE ECCF 04/03/2020',
 '128796 GRAHAM, JASON R ECCF 12/06/2020',
 '58969 GRAY, SHAWN J ECCF 01/25/2021',
 '134929 GREEN, ANTONIO S ECHC 05/13/2021',
 '155381 GREEN, GORDON P ECHC 04/12/2021',
 '54466 GREEN, RODNEY S ECHC 07/12/2019',
 '156429 GREENE, JOSEPH ECHC 07/13/2021',
 '135455 GREGER, STEVEN ECHC 07/09/2021',
 '131807 GRIFFIN, BREANA ECHC 04/27/2021',
 '156054 GRIFFITH, RANDY S ECHC 11/25/2020',
 '135569 GUARINO, ANTHONY ECCF 05/12/2021',
 '84346 GUIDICE, ANDREW J ECCF 05/13/2021',
 '155964 GUZMAN, GERARDO ECCF 05/27/2021',
 '143172 HAGEMAN, JOHN L ECHC 07/13/2021',
 '8219 HAGER, EDWARD ECHC 05/29/2021',
 '155841 HAIRSTON, BRANDON T ECCF 06/30/2020',
 '155160 HAIST, ARTHUR J ECCF 06/24/2021',
 '136352 HALL, ADRIAN E ECCF 10/05/2020',
 '132453 HALL, ELIJAH ECCF 12/01/2020',
 '155660 HALL, ERIC L ECCF 02/02/2021',
 '75358 HALLMAN, WAYNE J ECHC 07/07/2021',
 '135321 HAMILTON, JOHN ECCF 05/13/2020',
 '101432 HAMPTON, DEANDRE ECHC 05/14/2021',
 'Page 6 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '111311 HANCOCK, FRANKIE ECHC 05/27/2021',
 '118720 HAROLD, DORIAN ECHC 05/08/2019',
 '74976 HARPER, SEAN D ECCF 03/08/2021',
 '73021 HARRIS, ANTWOIN D ECCF 03/30/2021',
 '155992 HARRIS, WILLIE J ECCF 11/11/2020',
 '150955 HARRISON, CHRISTOPHER R ECCF 02/18/2021',
 '103444 HASKINS, SHAWN D ECCF 12/16/2020',
 '64668 HAWKINS, JASON L ECHC 04/21/2021',
 '131837 HAYES, ANDREW ECHC 05/12/2021',
 '41245 HAYES, LUTHER T ECCF 03/19/2021',
 '135845 HAYES, RAEVON ECHC 06/28/2021',
 '127069 HAYNES, NAKEEM ECHC 02/05/2020',
 '94212 HENDRIX, TARRELL ECHC 06/08/2021',
 '58254 HENRY, JOHN L ECCF 07/30/2020',
 '155842 HIBBERT-DAY, DEVIN A ECHC 06/21/2021',
 '155628 HICKS, NICHOLAS W ECHC 01/10/2020',
 '95184 HIGGINS, TONY ECCF 05/05/2020',
 '66707 HIGGS, DWAYNE ECHC 06/18/2021',
 '52782 HILL, DERRICK ECHC 06/06/2021',
 '115477 HINKLEY, RONALD T ECCF 05/19/2021',
 '62628 HIRSCH, WILLIAM ECHC 04/02/2021',
 '149452 HOBES, JUSTIN ECHC 09/28/2020',
 '137430 HOGUE, JAVAUGHN ECCF 05/02/2021',
 '156305 HOLLENBECK, TERRY ECCF 05/04/2021',
 '152189 HOLLIDAY, JAYLAN ECCF 07/31/2020',
 '55100 HOLLINGSWORTH, CECIL R ECHC 12/11/2020',
 '110669 HOLLINGSWORTH, DEVOREAUX T ECHC 06/22/2021',
 '121114 HOLLOWAY, DAMONE L ECHC 06/10/2021',
 '148570 HOLMAN, TROY K ECCF 05/16/2021',
 '130780 HONER, DAVID C ECCF 08/24/2020',
 '120892 HONEYCUTT, ELMARIOUS ECCF 07/23/2019',
 '3708 HOWARD, RICHARD ECHC 06/09/2021',
 '156349 HTOO, EH ECHC 05/24/2021',
 '142387 HUDSON, SEJOURN ECCF 01/08/2021',
 '65058 HUNTER, JASON ECCF 04/20/2021',
 '57282 HUNTER, SHELDON ECCF 09/29/2020',
 '26905 INGRAM, TERRY ECCF 01/20/2021',
 '136001 INNES, NICHOLAS M ECCF 12/02/2020',
 '140391 ISMAILA, ARIYANA M ECHC 06/29/2021',
 '70032 JACKSON, AMUEL A ECHC 01/10/2021',
 '111216 JACKSON, DAVID ECCF 05/02/2021',
 '54259 JACKSON, EDWARD ECCF 02/16/2021',
 '146219 JACKSON, NAJEEB S ECHC 07/01/2021',
 'Page 7 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '154779 JACKSON, TRAVIS L ECCF 04/28/2021',
 '150446 JACOBY, AARON M ECHC 03/27/2020',
 '147817 JACOBY, JOSHUA ECCF 03/27/2020',
 '155666 JADIEL, ITAN ECCF 01/28/2020',
 '59165 JEFFERSON, BRUCE ECHC 04/29/2021',
 '155863 JEMISON, BRADLEY ECCF 05/28/2021',
 '124081 JETER, WILLIE E ECHC 11/28/2020',
 '147071 JIMERSON, ALEXANDREA M ECHC 03/11/2021',
 '152537 JIMERSON, AUSTIN ECCF 06/02/2021',
 '129536 JOHN, JEREMY ECHC 02/27/2021',
 '49450 JOHNSON, AHMAD ECHC 06/23/2021',
 '151133 JOHNSON, DION C ECHC 04/26/2021',
 '119174 JOHNSON, ERIC S ECCF 02/08/2020',
 '132439 JOHNSON, MALACHI T ECCF 09/22/2020',
 '105769 JOHNSON, MARLON ECCF 07/26/2019',
 '143435 JOHNSON, MARYAM A ECHC 05/18/2021',
 '141146 JOHNSON, MICHAEL J ECCF 06/08/2021',
 '155910 JOHNSON, RAYMOND ECCF 08/19/2020',
 '125767 JOHNSON, RIYAD ECCF 09/08/2020',
 '153017 JONES, CHARLES A ECCF 03/05/2021',
 '149870 JONES, CHARLES L ECHC 08/16/2019',
 '109287 JONES, DEMETRIUS ECCF 05/24/2021',
 '102140 JONES, JETONE ECHC 07/09/2021',
 '114256 JONES, JOHN ECHC 07/08/2021',
 '79767 JONES, LIONELL ECHC 01/06/2021',
 '143677 JONES, MARIO O ECHC 05/27/2021',
 '75433 JONES, PORTER ECHC 07/09/2020',
 '122900 JORDAN, DAION ECCF 07/24/2019',
 '156214 JORDAN, REGINALD ECHC 03/14/2021',
 '135905 KACZMARSKI, KEITH ECCF 04/22/2021',
 '140985 KADIR, ABDI ECHC 05/20/2021',
 '129913 KARAZHAYEV, NASIB ECHC 04/13/2021',
 '156391 KELLY, JOHN ECHC 06/17/2021',
 '24846 KELLY, RAYNA ECHC 01/07/2021',
 '155669 KIEF, ANDREW ECHC 04/14/2021',
 '145500 KING, ANTONY L ECCF 01/08/2021',
 '155685 KLYCZEK, RYAN M ECCF 05/26/2021',
 '77159 KNIBBS, CRAIG A ECHC 07/12/2021',
 '105885 KNIERY, DAVID J ECHC 07/12/2021',
 '156348 KNIGHT, HALLI ECHC 07/08/2021',
 '154570 KOHLER, KENNETH J ECHC 06/28/2021',
 '126581 KOREN, KYLE T ECHC 07/05/2021',
 '10577 KOWALSKI, SEAN ECHC 09/22/2020',
 'Page 8 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '102843 KRYTUS, ADAM ECCF 06/16/2021',
 '120287 KRYTUS, ANDREW ECHC 06/30/2021',
 '30299 KUKAVICA, JAMES ECCF 10/21/2020',
 '103017 KYLE, DARRYL ECHC 12/17/2020',
 '153419 LAH, NELER G ECHC 06/23/2021',
 '155078 LANE, JOE R ECCF 05/26/2021',
 '105365 LANZO, FRANCISCO L ECHC 05/12/2021',
 '114436 LAPRESS, CHRISTOPHER ECCF 09/03/2020',
 '156240 LARKIN, ALLEN D ECCF 03/28/2021',
 '55344 LASTER, CALVIN ECCF 10/01/2020',
 '146064 LAUBY, SHAWNA M ECHC 06/25/2021',
 '143022 LAVALLEY, KEENEN ECHC 06/02/2021',
 '102211 LAWRENCE, TERRION ECHC 09/16/2019',
 '138306 LAWSON, JOHNATHAN J ECHC 07/12/2021',
 '151993 LECHNER, JEANNA ECHC 07/13/2021',
 '98716 LEE, ANTONIO B ECCF 01/27/2020',
 '156310 LEE, RAEKWON ECCF 06/12/2021',
 '129721 LEE, RAYMOND L ECHC 05/26/2021',
 '112665 LEMIUEX, BRIAN ECHC 06/12/2021',
 '32232 LENARTOWICZ, SCOTT J ECCF 02/05/2021',
 '97384 LETSON, EUGENE ECCF 06/04/2021',
 '155765 LEWIS, AVERY ECHC 05/04/2021',
 '72027 LEWIS, GERALD ECHC 07/09/2021',
 '135327 LIBERTY, JASON M ECCF 04/23/2021',
 '77505 LIPKA, CHARLES ECHC 06/28/2021',
 '100642 LOCOCO, MARC A ECCF 06/12/2021',
 '114013 LONG, FREDERICK S ECCF 06/07/2021',
 '25182 LOPEZ, PETER ECCF 04/12/2021',
 '154672 LOPEZ-ROSARIO, ABDIEL ECCF 04/29/2021',
 '57251 LOWMACK, TAIWAN ECCF 12/21/2018',
 '58174 LOZADA, ANGEL L ECCF 12/16/2020',
 '88904 LUPER, EMMAUNEL ECHC 07/11/2018',
 '151661 LYNCH, ERIC M ECHC 07/06/2021',
 '110011 MACADLO, JESSE M ECHC 07/13/2021',
 '67848 MADISON, WILLIAM T ECHC 04/06/2021',
 '126611 MAHON, AUSTIN M ECHC 06/14/2021',
 '128526 MALLORY, RASHAAN K ECHC 12/15/2020',
 '34754 MARCHESE, NATHANIEL ECCF 03/03/2021',
 '15940 MARCHESE, RUBEN ECHC 05/18/2019',
 '156412 MARQUEZ, MANUEL R ECHC 07/03/2021',
 '104250 MARTIN, DANDRE R ECCF 05/08/2021',
 '122034 MARTIN, GEORGE A ECCF 12/01/2020',
 '123376 MARTIN, MAQUAN ECCF 04/20/2021',
 'Page 9 of 16Wednesday, July 14, 2021  9:45:01 amCreated On: At:',
 '',
 'ICN # Inmate Name Facility Booking Date',
 "Erie County Sheriff's Office ",
 'Inmate Roster',
 '134302 MARTIN, MYKELL ECHC 05/08/2021',
 '18772 MARTIN, TOMMY ECHC 04/13/2021',
 '104234 MARTINELLI, TERRANCE ECHC 06/28/2021',
 '156400 MARTINEZ, FRANCISCO ECHC 06/25/2021',
 '144132 MARTINEZ, LARENZO D ECHC 06/29/2021',
 '147406 MARTINEZ, ORLANDO ECHC 05/25/2021',
 '108250 MARTINEZ, REINALDO ECCF 03/21/2019',
 '153907 MARTINEZ-DIAZ, HECTOR L ECCF 12/15/2020',
 '155457 MATTHEWS, QUANTIC ECCF 03/31/2021',
 '46994 MAY, JONATHAN N ECCF 03/29/2021',
 '136580 MAZRAANY, MANSOUR E ECHC 05/13/2021',
 '152011 MAZZONE, ROSEANN M ECHC 06/30/2021',
 '88357 MCBRIDE, RINALDO ECHC 09/17/2020',
 '133523 MCBRIDE, ROBERT B ECCF 04/09/2019',
 '70795 MCCLUSKEY, SCOTT ECHC 06/29/2021',
 '19284 MCCOY, DONALD P ECHC 12/05/2020',
 '91696 MCCRAYER, MICHAEL P ECCF 04/10/2021',
 '136816 MCCULLOUGH, KIAIRA ECHC 06/15/2021',
 '82638 MCDADE, MICHAEL ECCF 05/04/2021',
 '128374 MCDANIEL, JAMEER ECCF 05/18/2021',
 '137954 MCDANIEL, TERRENCE E ECHC 05/29/2021',
 '125217 MCDUFFIE, DARQUANE M ECHC 06/25/2021',
 '155924 MCGONNELL, JAMES ECCF 08/28/2020',
 '44485 MCGOVERN, JEFFERY P ECHC 03/15/2021',
 '155880 MCKIBBEN, JONATHAN ECHC 07/30/2020',
 '138823 MCMAHON, ZACHARY F ECHC 06/11/2021',
 '152918 MECCA, NICOLE ECHC 06/07/2021',
 '74813 MEDINA, NETZA ECHC 12/29/2020',
 '105001 MEIR, JASON ECCF 11/13/2020',
 '110526 MELENDEZ, LUIS A ECHC 07/07/2021',
 '156243 MELKIOTY, GABRIEL C ECHC 04/01/2021',
 '156070 MERAE, MAATH H ECHC 07/01/2021',
 '156418 MERIL, JOSEPH M ECHC 07/08/2021',
 '153345 MILES, WILLIAM ECHC 06/13/2021',
 '151740 MINNS, JAYQUAN ECHC 07/07/2021',
 '38945 MISZKO, DAVID P ECCF 10/13/2020',
 '56665 MITCHELL, JASON M ECCF 11/27/2020',
 '96126 MOHAMED, FATIMAH ECHC 07/07/2021',
 '70696 MOHAMED, ISMAIL ECHC 01/05/2021',
 '139911 MOHAMED, JUMALE ECCF 05/11/2021',
 '143554 MOHAN, NICKOLAY J ECHC 05/30/2021',

In [9]:
# pandas series and dataframes vs. python list vs. numpy arrays
inmates_pd = pd.Series(inmates_ls)
re_keep = r'^[0-9]+ [A-Z]+, [A-Z]+'
inmates_pd = inmates_pd[inmates_pd.str.contains(re_keep,regex=True)]

In [10]:
inmates_df

Empty DataFrame
Columns: [ICN #, Inmate Name, Facility, Booking Date]
Index: []

In [11]:
inmates_df['Facility'] = inmates_pd.str.rsplit(n=2, expand=True)[1]
inmates_df['Booking Date'] = inmates_pd.str.rsplit(n=2, expand=True)[2]
inmates_df['ICN #'] = inmates_pd.str.split(n=1, expand=True)[0]
inmates_df

      ICN # Inmate Name Facility Booking Date
0     70693         NaN     ECHC   04/30/2021
1    152645         NaN     ECCF   06/20/2021
2    144666         NaN     ECCF   06/17/2021
3    156374         NaN     ECHC   06/06/2021
4     57243         NaN     ECCF   11/02/2020
..      ...         ...      ...          ...
754   18303         NaN     ECHC   05/24/2021
755  155109         NaN     ECHC   06/27/2021
756   63815         NaN     ECHC   07/06/2021
757   20740         NaN     ECCF   11/04/2020
758  155732         NaN     ECCF   03/01/2020

[669 rows x 4 columns]

In [12]:
#inmates_df['Inmate Name'].str.rsplit(n=2, expand=True)[0]
names = inmates_pd.str.rsplit(n=2, expand=True)
inmates_df['Inmate Name'] = names[0].str.split(n=1, expand=True)[1]
inmates_df

      ICN #            Inmate Name Facility Booking Date
0     70693      ABDALLAH, MICHAEL     ECHC   04/30/2021
1    152645             ABDI, ABDI     ECCF   06/20/2021
2    144666       ABDULLAH, DHAFIR     ECCF   06/17/2021
3    156374        ACEVEDO, CARLOS     ECHC   06/06/2021
4     57243       ACKER, RAYMOND P     ECCF   11/02/2020
..      ...                    ...      ...          ...
754   18303      ZANGHI, SANTINO J     ECHC   05/24/2021
755  155109      ZARCONE, THOMAS E     ECHC   06/27/2021
756   63815       ZIELINSKI, LARRY     ECHC   07/06/2021
757   20740  ZIELINSKI, LAWRENCE T     ECCF   11/04/2020
758  155732          ZUKIC, TRAVIS     ECCF   03/01/2020

[669 rows x 4 columns]

In [13]:
inmates_df.to_csv('inmates_done.csv')

## WHO resolutions

Using [A74_R13-en.pdf](A74_R13-en.pdf), what ten member countries are given the highest assessments?

* You might need to have two separate queries, and combine the results: that last page is pretty awful!
* Always rename your columns
* Double-check that your sorting looks right......
* You can still get the answer even without perfectly clean data

In [14]:
import camelot
tables = camelot.read_pdf('A74_R13-en.pdf', flavor='stream', pages='1-6')
tables

In [49]:
tables_pieces = [table.df.drop([0,1,2]) for table in tables[0:5]]
tables_pieces

[                                   0       1
 3                        Afghanistan  0.0070
 4                            Albania  0.0080
 5                            Algeria  0.1380
 6                            Andorra  0.0050
 7                             Angola  0.0100
 8                Antigua and Barbuda  0.0020
 9                          Argentina  0.9151
 10                           Armenia  0.0070
 11                         Australia  2.2101
 12                           Austria  0.6770
 13                        Azerbaijan  0.0490
 14                           Bahamas  0.0180
 15                           Bahrain  0.0500
 16                        Bangladesh  0.0100
 17                          Barbados  0.0070
 18                           Belarus  0.0490
 19                           Belgium  0.8211
 20                            Belize  0.0010
 21                             Benin  0.0030
 22                            Bhutan  0.0010
 23  Bolivia (Plurinational State of)  0.0160,
                                     0        1
 3              Bosnia and Herzegovina   0.0120
 4                            Botswana   0.0140
 5                              Brazil   2.9482
 6                   Brunei Darussalam   0.0250
 7                            Bulgaria   0.0460
 8                        Burkina Faso   0.0030
 9                             Burundi   0.0010
 10                         Cabo Verde   0.0010
 11                           Cambodia   0.0060
 12                           Cameroon   0.0130
 13                             Canada   2.7342
 14           Central African Republic   0.0010
 15                               Chad   0.0040
 16                              Chile   0.4070
 17                              China  12.0058
 18                           Colombia   0.2880
 19                            Comoros   0.0010
 20                              Congo   0.0060
 21  Cook Islands (not a member of the
 22                    United Nations)   0.0010
 23                         Costa Rica   0.0620
 24                      CÃ´te dâ€™Ivoire   0.0130
 25                            Croatia   0.0770
 26                               Cuba   0.0800
 27                             Cyprus   0.0360
 28                     Czech Republic   0.3110
 29    Democratic Peopleâ€™s Republic of
 30                              Korea   0.0060
 31   Democratic Republic of the Congo   0.0100
 32                            Denmark   0.5540
 33                           Djibouti   0.0010
 34                           Dominica   0.0010
 35                 Dominican Republic   0.0530
 36                            Ecuador   0.0800
 37                              Egypt   0.1860
 38                        El Salvador   0.0120
 39                  Equatorial Guinea   0.0160
 40                            Eritrea   0.0010
 41                            Estonia   0.0390
 42                           Eswatini   0.0020
 43                           Ethiopia   0.0100
 44                               Fiji   0.0030
 45                            Finland   0.4210
 46                             France   4.4273
 47                              Gabon   0.0150,
                                    0       1
 3                             Gambia  0.0010
 4                            Georgia  0.0080
 5                            Germany  6.0904
 6                              Ghana  0.0150
 7                             Greece  0.3660
 8                            Grenada  0.0010
 9                          Guatemala  0.0360
 10                            Guinea  0.0030
 11                     Guinea-Bissau  0.0010
 12                            Guyana  0.0020
 13                             Haiti  0.0030
 14                          Honduras  0.0090
 15                           Hungary  0.2060
 16                           Iceland  0.0280
 17                             India  0.8341
 18                         Indonesia  0.5430
 19        Iran (Islamic Republic of)  0.3980
 20                              Iraq  0.1290
 21                           Ireland  0.3710
 22                            Israel  0.4900
 23                             Italy  3.3072
 24                           Jamaica  0.0080
 25                             Japan  8.5645
 26                            Jordan  0.0210
 27                        Kazakhstan  0.1780
 28                             Kenya  0.0240
 29                          Kiribati  0.0010
 30                            Kuwait  0.2520
 31                        Kyrgyzstan  0.0020
 32  Lao Peopleâ€™s Democratic Republic  0.0050
 33                            Latvia  0.0470
 34                           Lebanon  0.0470
 35                           Lesotho  0.0010
 36                           Liberia  0.0010
 37                             Libya  0.0300
 38                         Lithuania  0.0710
 39                        Luxembourg  0.0670
 40                        Madagascar  0.0040
 41                            Malawi  0.0020
 42                          Malaysia  0.3410
 43                          Maldives  0.0040
 44                              Mali  0.0040
 45                             Malta  0.0170
 46                  Marshall Islands  0.0010,
                                    0       1
 3                         Mauritania  0.0020
 4                          Mauritius  0.0110
 5                             Mexico  1.2921
 6   Micronesia (Federated States of)  0.0010
 7                             Monaco  0.0110
 8                           Mongolia  0.0050
 9                         Montenegro  0.0040
 10                           Morocco  0.0550
 11                        Mozambique  0.0040
 12                           Myanmar  0.0100
 13                           Namibia  0.0090
 14                             Nauru  0.0010
 15                             Nepal  0.0070
 16                       Netherlands  1.3561
 17                       New Zealand  0.2910
 18                         Nicaragua  0.0050
 19                             Niger  0.0020
 20                           Nigeria  0.2500
 21  Niue (not a member of the United
 22                          Nations)  0.0010
 23                   North Macedonia  0.0070
 24                            Norway  0.7540
 25                              Oman  0.1150
 26                          Pakistan  0.1150
 27                             Palau  0.0010
 28                            Panama  0.0450
 29                  Papua New Guinea  0.0100
 30                          Paraguay  0.0160
 31                              Peru  0.1520
 32                       Philippines  0.2050
 33                            Poland  0.8021
 34                          Portugal  0.3500
 35  Puerto Rico (not a member of the
 36                   United Nations)  0.0010
 37                             Qatar  0.2820
 38                 Republic of Korea  2.2671
 39               Republic of Moldova  0.0030
 40                           Romania  0.1980
 41                Russian Federation  2.4052
 42                            Rwanda  0.0030
 43             Saint Kitts and Nevis  0.0010
 44                       Saint Lucia  0.0010
 45  Saint Vincent and the Grenadines  0.0010
 46                             Samoa  0.0010
 47                        San Marino  0.0020,
                                       0        1
 3                 Sao Tome and Principe   0.0010
 4                          Saudi Arabia   1.1721
 5                               Senegal   0.0070
 6                                Serbia   0.0280
 7                            Seychelles   0.0020
 8                          Sierra Leone   0.0010
 9                             Singapore   0.4850
 10                             Slovakia   0.1530
 11                             Slovenia   0.0760
 12                      Solomon Islands   0.0010
 13                              Somalia   0.0010
 14                         South Africa   0.2720
 15                          South Sudan   0.0060
 16                                Spain   2.1461
 17                            Sri Lanka   0.0440
 18                                Sudan   0.0100
 19                             Suriname   0.0050
 20                               Sweden   0.9061
 21                          Switzerland   1.1511
 22                 Syrian Arab Republic   0.0110
 23                           Tajikistan   0.0040
 24                             Thailand   0.3070
 25                          Timor-Leste   0.0020
 26                                 Togo   0.0020
 27  Tokelau (not a member of the United
 28                             Nations)   0.0010
 29                                Tonga   0.0010
 30                  Trinidad and Tobago   0.0400
 31                              Tunisia   0.0250
 32                               Turkey   1.3711
 33                         Turkmenistan   0.0330
 34                               Tuvalu   0.0010
 35                               Uganda   0.0080
 36                              Ukraine   0.0570
 37                 United Arab Emirates   0.6160
 38  United Kingdom of Great Britain and
 39                     Northern Ireland   4.5673
 40          United Republic of Tanzania   0.0100
 41             United States of America  22.0000
 42                              Uruguay   0.0870
 43                           Uzbekistan   0.0320
 44                              Vanuatu   0.0010
 45   Venezuela (Bolivarian Republic of)   0.7280
 46                             Viet Nam   0.0770
 47                                Yemen   0.0100]

In [50]:
# pd.DataFrame([tables[0:4] + last_table])
last_table = tables[5].df.drop(columns=[0,2,4]).drop([0,1,2,3,6,7,8,9])
last_table.columns = [0,1]
last_table

          0       1
4    Zambia  0.0090
5  Zimbabwe  0.0050

In [62]:
scales = pd.concat(tables_pieces, ignore_index=True).append(last_table)
scales.columns = ['Member','Percent']
scales = scales.reset_index()
scales = scales.drop(columns='index').set_index('Member')
scales.tail(10)

                                    Percent
Member
United Republic of Tanzania          0.0100
United States of America            22.0000
Uruguay                              0.0870
Uzbekistan                           0.0320
Vanuatu                              0.0010
Venezuela (Bolivarian Republic of)   0.7280
Viet Nam                             0.0770
Yemen                                0.0100
Zambia                               0.0090
Zimbabwe                             0.0050

In [65]:
scales['Percent'].sort_values(ascending=False).head(10)

Member
Japan                        8.5645
Germany                      6.0904
Northern Ireland             4.5673
France                       4.4273
Italy                        3.3072
United States of America    22.0000
Brazil                       2.9482
Canada                       2.7342
Russian Federation           2.4052
Republic of Korea            2.2671
Name: Percent, dtype: object

## The Avengers

Using [THE_AVENGERS.pdf](THE_AVENGERS.pdf), approximately how many lines does Captain America have as compared to Thor and Iron Man?

* Character names only: we're only counting `IRON MAN` as Iron Man, not `TONY`.
* Your new best friend might be `\n`
* Look up `.count` for strings

## COVID data

Using [covidweekly2721.pdf](covidweekly2721.pdf), what's the total number of tests performed in Minnesota? Use the Laboratory Test Rates by County of Residence chart.

* You COULD pull both tables separately OR you could pull them both at once and split them in pandas.
* Remember you can do things like `df[['name','age']]` to ask for multiple columns

## Theme Parks

Using [2019-Theme-Index-web-1.pdf](2019-Theme-Index-web-1.pdf), save a CSV of the top 10 theme park groups worldwide.

* You can clean the results or you can restrict the area the table is pulled from, up to you

## Hunting licenses

Using [US_Fish_and_Wildlife_Service_2021.pdf](US_Fish_and_Wildlife_Service_2021.pdf) and [a CSV of state populations](http://goodcsv.com/geography/us-states-territories/), find the states with the highest per-capita hunting license holders.